*{
    padding: 0;
    margin: 0;
}

body{
    width: 100wh;
    min-height: 100vh;
    background: linear-gradient(to bottom right, rgba(184, 255, 253, 0.785), rgba(132, 255, 214, 0.768),rgba(152, 250, 255, 0.807) );
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width:  980px;
    height: 600px;
    overflow: hidden;
    background-color: rgba(225, 255, 245, 0.895);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gameSpace {
  padding: 15px;
  width: 100%;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  gap: 5px;
}

.bubble {
  width: 45px;
  height: 45px;
  background: #29aa6580;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.bubble:hover {
  transform: scale(1.12);
  background: #38f0b3;
}


.topHead{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: rgba(54, 129, 95, 0.711);
}

.topHead ul{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

li{
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    list-style: none;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topH {
    width: 50px;
    display: flex;
    height: 40px;
    border-radius: 5px;
    margin: 10px;
    color:  rgba(35, 81, 61, 0.711);
    justify-content: center;
    align-items: center;
    box-shadow:   2.4px 3px 8px  rgba(181, 180, 180, 0.389), 2.5px 3px 6px rgba(139, 138, 138, 0.46);
    background-color: rgb(255, 255, 255);
}


.startG {
    display: flex;
    justify-content: center;
    align-items: center;
}

.startEndBtn {
    height: fit-content;
    font-family: sans-serif;
    font-weight: 700;
    padding: 10px 5px;
    border-radius: 15px;
    gap: 7px;
}

.startEndBtn:hover, .startEndBtn:active {
  background-color: rgba(247, 255, 253, 0.864); 

}

.startEndBtn:active {
  transform: translateY(2px); 
  box-shadow: 0 2px 3px rgba(214, 212, 212, 0.864); 
}

#startBtn {
    display: none;
}


#exitBtn {
    display: flex;
}



/* Modal styling */
.modalBox{
    width: 100%;
    height: 100%;
    position:absolute;
    place-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(7px);

}
.modal {
    width: 500px;
    height: 300px;
    border-radius: 7px;
    overflow: hidden;
    background-color: rgba(245, 255, 252, 0.895);
    box-shadow:   6px 10px 8px  rgba(181, 180, 180, 0.389), 6px 10px 6px rgba(139, 138, 138, 0.46);
    backdrop-filter: blur(100px);
}
.modal h1{
    width: 100%;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    color:  rgba(39, 84, 65, 0.908);
    font-family:sans-serif;
    letter-spacing: -1px;
    justify-content: center;
    height: fit-content;
    background-color: rgba(54, 129, 95, 0.711);
}
.modal h2{
    width: 100%;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    color:  rgba(26, 48, 39, 0.908);
    font-family:sans-serif;
    letter-spacing: -1px;
    justify-content: center;
    height: fit-content;
}


/* Modal Button Styling */
.gameBtns{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.btns{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btns button{
    background-color:  rgba(39, 84, 65, 0.908);
    font-size: 24px;
    font-family: sans-serif;
    padding: 10px 20px;
    border-radius: 15px;
    color: aliceblue;
}
.btns button:active {
  transform: translateY(2px); 
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); 
  background-color: #1b3f3f; 
}


/* Gamer Over Screen styleing */
.endScr {
    width: 700px;
    /* height: 100%; */
    display: flex;
    font-size: 88px;
    margin-top: 10%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    color:  rgba(26, 48, 39, 0.908);
}